{% extends "base.html" %}
{% block content %}

<h1 class="display-4">Display test</h1>

<!-- Information -->
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Information</h4>
    This is the right place to test or check your e-Paper Display.<br>
    Select the display you think you have, then click on test.<br>
    If the correct display was selected and wiring is OK, you will see an image after ~1 minute.<br>
    <hr>
    Please do not reload the page after pressing the button. <br>
    Once the test is complete, you will be redirected.
</div>

<form class="needs-validation" method="post" novalidate>
{{ form.hidden_tag() }}

<div class="form-group">
        <label for="model">Model</label>
        <select class="form-control" id="model" name="model">
            {% for display in supported_displays %}
                {% for driver,label in display.items() %}
                    <option value="{{driver}}">{{label}}</option>
                {% endfor %}
            {% endfor %}
        </select>
 </div>

<!-- test display button -->
<div class="form-group"><br>
    <button class="btn btn-primary btn-lg btn-block" id="run_test" type="submit" >Test display</button>
</div>

<div class="progress">
  <div id="progress_status" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
</div>

<script>
	
var i=0;
function makeProgress(){
	if(i < 100){
		i = i + 1;
		$("#progress_status").css("width", i + "%").text(i + " %");
	}
	// Wait for sometime before running this script again
	setTimeout("makeProgress()", 600);
};
</script>


</form>

<script>
$(document).ready(function() {

$('#progress_status').hide();

$('#run_test').click(function(){
	$('#progress_status').show();
    makeProgress()
})
		
});
</script>

{% endblock %}
